/* header area */
.navbar-brand img {
    width: 198px;
    height: 59px;
}
.nav-bg{
    background-color: #F0FFF0;
}
.container {
    margin-bottom: 50px;
}
.header-bg {
    background-color: #F0FFF0;
    margin-bottom: 50px;
    overflow: hidden;
}
.sing {
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 20px;
}
.header-img img {
    width: 100%;
}
.header-1 p:nth-child(1) {
    color: #FD511A;
    font-size: 16px;
    margin-bottom: 0px;
}
.header-1 h1 {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}
.header-1 h1 span {
    color: #21B573;
}
.get-btn {
    padding: 5px 30px;
    border-radius: 20px;
    margin-top: 20px;
}
/* header area */

/* books area */
.books {
    width: 250px;
    height: 250px;
    background-color: #F0FFF0;
    border: 1px solid #F0FFF0 ;
    border-radius: 10px;
}
.books img {
    width: 66px;
    height: 85;
    margin-top: 50px;
}
.books-1 img {
    width: 80px;
    height: 83px;
    margin-top: 50px;
}
.books-1 {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgrey;
}
/* books area */

.online {
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 20px;
}
/* courses area */
.courses-2 {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgrey;
}
.calendar img {
    width: 24px;
    height: 24px;
}
.people img {
    width: 24px;
    height: 24px;
}
.calendar, .people {
    margin-top: 20px;
}
/* courses area */

.man {
    width: 110px;
    height: 110px;
    margin-left: auto;
    display: block;
}

.footer {
    padding: 50px 0px;
}
.copy {
    text-align: center;
    margin: 0px;
    background: #343a40;
    color: #fff;
}
.btns {
    background: #343a40;
    margin-top: -50px;
}
.btns a {
    padding: 5px 15px;
    background: linear-gradient(to left, #29e969, rgb(51, 15, 134));
    color: #fff;
    text-decoration: none;
}
.btns a:hover {
    background: linear-gradient(to right, #29e969, rgb(51, 15, 134));
}